.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .overlay__top {
    width: 100%;
    height: 30vh;
    background-color: $dark;
  }
  .overlay__bottom {
    width: 100%;
    height: 70vh;
    background-color: $dark;
  }
}
