.sentence1 {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 30vh;
  // height: #{'calc(30vh - 100px)'};
  align-items: center;
  // border: 1px solid red;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    .text-section {
      text-align: center;
      p {
        color: $dark;
        font-size: $fontMiddle;
        span {
          font-weight: 600;
        }
      }
    }
  }
}
