.contact-page {
  width: 100%;
  height: 100vh;
  background-color: $dark;
  .contact-container {
    height: 80vh;
    // width: #{'minmax(350px, 600px)'};
    width: #{'min(90%, 69rem)'};
    background-color: $light;
    border-radius: 10px;

    &__text {
      padding: 2rem;
      h1 {
        color: $dark;
      }
    }
    &__form {
      padding: 5rem;
      .form {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
